<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="jotadevs_onzeplexconnector_import_products" xsi:type="object">
                    Jotadevs\OnzePlexConnector\Console\Command\ImportProducts
                </item>
                <item name="jotadevs_onzeplexconnector_test_external_api" xsi:type="object">
                    Jotadevs\OnzePlexConnector\Console\Command\TestExternalApi
                </item>
                <item name="jotadevs_onzeplexconnector_import_rubros" xsi:type="object">
                    Jotadevs\OnzePlexConnector\Console\Command\ImportRubros
                </item>
                <item name="jotadevs_onzeplexconnector_convert_plex_product" xsi:type="object">
                    Jotadevs\OnzePlexConnector\Console\Command\ConvertPlexProduct
                </item>
                <item name="jotadevs_onzeplexconnector_convert_plex_rubros" xsi:type="object">
                    Jotadevs\OnzePlexConnector\Console\Command\ConvertPlexRubros
                </item>
                <item name="jotadevs_onzeplexconnector_import_laboratorios" xsi:type="object">
                    Jotadevs\OnzePlexConnector\Console\Command\ImportLaboratorios
                </item>
                <item name="jotadevs_onzeplexconnector_stock_update" xsi:type="object">
                    Jotadevs\OnzePlexConnector\Console\Command\updateStock
                </item>
                <item name="jotadevs_onzeplexconnector_update_product" xsi:type="object">
                    Jotadevs\OnzePlexConnector\Console\Command\UpdateProduct
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Model\Order\Email\Container\OrderIdentity">
        <plugin name="change_is_enable_method" type="\Jotadevs\RedCustoms\Plugin\Sales\Order\Email\Container\OrderIdentityPlugin"/>
    </type>
</config>
