<?xml version="1.0" encoding="utf-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Jotadevs\BotonArrepentimiento\Model\ResourceModel\Caso\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">jotadevs_arrepentimiento_caso</argument>
            <argument name="resourceModel" xsi:type="string">Jotadevs\BotonArrepentimiento\Model\ResourceModel\Caso</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory" >
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="jotadevs_arrepentimiento_caso_listing_data_source" xsi:type="string">
                    Jotadevs\BotonArrepentimiento\Model\ResourceModel\Caso\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
</config>
