<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <ocaepack>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <model>Jotadevs\OCAEPackShipping\Model\Carrier\ocaepack</model>
                <name>OCA E-Pack</name>
                <price>0.0</price>
                <title>Envios por Oca E-Pack</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </ocaepack>
            <oca>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <model>Jotadevs\OCAEPackShipping\Model\Carrier\oca</model>
                <name>OCA</name>
                <price>0.0</price>
                <title>Envios por Oca a Sucursal</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </oca>
        </carriers>
    </default>
</config>
